{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link type="image/png" rel="icon" href="https://www.vhv.rs/dpng/d/116-1162663_copyright-png-transparent-background-copyright-symbol-png-download.png" />
    <title>Copyright - Read</title>
    <link rel="stylesheet" href="{% static 'css/copyright.css' %}"/>
  </head>
  <body>
    <div id = "container">
      <h3 id="title">Copyright</h3>
      <h4 id = "notice">Aviso de presunta infracción <span>"Aviso"</span></h4>
      <br/>
      <p>
        Respetamos los derechos de autor de otros y exigimos que los usuarios de
        nuestros servicios cumplan con las leyes de derechos de autor. Tiene
        estrictamente prohibido utilizar nuestros servicios para infringir los
        derechos de autor. No puede cargar, descargar, almacenar, compartir,
        mostrar, transmitir, distribuir, enviar por correo electrónico,
        vincular, transmitir o poner a disposición ningún archivo, información o
        contenido que infrinja los derechos de autor u otros derechos de
        propiedad de cualquier persona o entidad. Responderemos a los avisos de
        supuestas infracciones de derechos de autor que cumplan con la ley
        aplicable y que se nos proporcionen correctamente.
      </p>
      <br />
      <p>
        Nos reservamos el derecho de eliminar los datos presuntamente
        infractores sin previo aviso, a nuestro exclusivo criterio y sin
        responsabilidad ante usted. En circunstancias apropiadas, también
        cancelaremos su cuenta si se determina que es un infractor reincidente
      </p>
    </div>
  </body>
</html>
